// FILE: mixinExtended.less
// PURPOSE: extends mixinCore with less common sets of styles
// EXAMPLES: columns, transitions
// DEPENDANCY: edge.less


// Transitions
//-----------------------------------------------------------
.transition(@params){
  -moz-transition: @params; // FF4+
  -o-transition: @params; // Opera 10.5+
  -webkit-transition: @params; // Safari 3.2+, Chrome
  -ms-transition: @params; // IE10
  transition: @params; // CSS3
}

// Transformations
//-----------------------------------------------------------
.skew(@x:~"35deg", @y:~"0deg"){
    -webkit-transform: skew(@x, @y);
    -moz-transform: skew(@x, @y);
    -o-transform: skew(@x, @y);
    -ms-transform: skew(@x, @y);
    transform: skew(@x, @y);
}

.scale(@scale: 1){
    -webkit-transform: scale(@scale);
    -moz-transform: scale(@scale);
    -o-transform: scale(@scale);
    -ms-transform: scale(@scale);
    transform: scale(@scale);
}

.rotate(@deg:~"35deg"){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    transform: rotate(@deg);
}

.translate(@x: 10px, @y: 10px){
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -ms-transform:translate(@x, @y);
    transform: translate(@x, @y);
}

// CSS3 Content Columns
//-----------------------------------------------------------
.contentColumns(@columnCount: 2, @columnGap: @gutterWidth){
  -webkit-column-count: @columnCount;
  -webkit-column-gap: @columnGap;
  -moz-column-count: @columnCount;
  -moz-column-gap: @columnGap;
  column-count: @columnCount;
  column-gap: @columnGap;
}